.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
#mapContainer {
  position:fixed;
  width:100%;
  height:100%;
  top:0;
  left:0;
  overflow:visible;
  background:rgb(15,15,15);
}


#buttons {
  position:fixed;
  z-index:500;
  top: 20px;
  right:20px;
  border-right-width: 20px;
  color:white;
}

#buttons button {
  margin:5px;
  background:none;
  border:1px solid white;
  outline:none;
  padding:10px;
  cursor: pointer;
  transition:250ms all;
  color:white;
  font-family: 'Lato', sans-serif;
}
#buttons button:hover {
  background:white;
  color:black;
}

#buttons span.MuiSlider-root {
  color:white;
}

#buttons p {
  color:white;
  font-family: 'Lato', sans-serif;
  padding:0;
  margin:0;
  font-size:12px;
}

#buttons p#playback-slider {
  padding-top:40px;
}

#title {
  position:fixed;
  left:40px;
  top:40px;
  z-index: 500; 
  margin:0;
  padding:0;
  color:white;
  font-family: 'Lato', sans-serif;
  text-align: left;
}

#title h1 {
  font-size:3rem;
  margin:0;
  padding:0;
  text-shadow: 2px 2px 10px rgba(0,0,0,1);
}
#title h2 {
  font-weight: 300;
  text-shadow: 2px 2px 10px rgba(0,0,0,1);
}

#attribution {
  position:fixed;
  right:20px;
  bottom:20px;
  text-align: right;
  color:white;
}

#attribution a {
  color:white;
}

#logo {
  position:fixed;
  left:30px;
  bottom:30px;
  color:white;
  width:30vw;
  max-width:300px;
}

#scale {
  position: fixed;
  right:20px;
  top:50%;
  transform:translateY(-50%);
  display: flex;
}

#breaks {
  padding: 15px 10px 0 0;
  color:white;
  font-size:12px;
  line-height: 30px;
  text-align: right;
}
#breaks p {
  margin:0;
  padding:0;
}

#colors span {
  width:5px;
  height:30px;
  display:block;
}

